.profile-card{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 4px 15px rgba(0,0,0,.1);

text-align:center;

}

.avatar{

width:100px;

height:100px;

margin:auto;

border-radius:50%;

background:#600000;

color:white;

font-size:50px;

display:flex;

align-items:center;

justify-content:center;

margin-bottom:15px;

}

#statusBadge{

display:inline-block;

padding:6px 14px;

border-radius:20px;

background:#198754;

color:white;

font-weight:bold;

}

.profile-card p{

text-align:left;

margin:12px 0;

}

.profile-card button{

width:100%;

}

.profile-card button{

width:100%;

padding:12px;

background:#600000;

color:white;

border:none;

border-radius:8px;

font-size:16px;

cursor:pointer;

transition:0.3s;

}

.profile-card button:hover{

background:#7a0000;

}